<h2>Fournisseurs</h2>
<div class="form-add">
  <input type="text" placeholder="Nom complet" [(ngModel)]="newFournisseur.name" />
  <input type="text" placeholder="Contact" [(ngModel)]="newFournisseur.contact" />
  <button (click)="addFournisseur()">Ajouter</button>
</div>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fournisseur of fournisseurs">
      <td>{{ fournisseur.name }}</td>
      <td>{{ fournisseur.contact }}</td>
    </tr>
  </tbody>
</table>
